<div class="min-h-full">
  <div class="pb-10">
    <app-top-bar
      [v_data]="v_data"
      (update_currentVid)="onUpdateCurrentVid($event)">
    </app-top-bar>

    <div
      class="sm:flex sm:justify-around py-1 sm:pt-5"
      *ngIf="currentVid">

      <youtube-player
        *ngIf="showPlayer"
        class="hidden sm:flex"
        [videoId]="currentVid.youtube_id"
        [height]="582"
        [width]="1035"
        suggestedQuality="highres"
        [startSeconds]="timestamp">
      </youtube-player>

      <youtube-player
        *ngIf="showPlayer"
        class="flex justify-center pb-2 sm:hidden"
        [videoId]="currentVid.youtube_id"
        [height]="210"
        [width]="380"
        suggestedQuality="highres"
        [startSeconds]="timestamp">
      </youtube-player>

      <app-vocab
        [vocab_list]="currentVid.vocab_list"
        (update_timestamp)="onUpdateTimestamp($event)">
      </app-vocab>
    </div>
  </div>
</div>

<app-bottom-bar></app-bottom-bar>